// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#letter{
  background-color: blanchedalmond;
  padding: 20px;
  margin: 5px;
  display: inline-block;
  text-align: center;
  width: 10px;
  grid-template-columns: 120px 120px 120px;
  justify-content: space-between;
}

#letter :first-child {
  align-self: center;
}
